<!DOCTYPE HTML>
<html>

<head>
    <title>GemStore</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>

<body ng-app="myApp">
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">GemStore</a>
    </nav>
    <main class="container">
        <div class="row" ng-controller="myController">
            <div class="col-xs-4" ng-repeat="product in Model">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{product.name}}
                    </div>
                    <div class="panel-body">
                        <span id="price" class="pull-right">
                            {{product.price | currency}}
                        </span>
                        <p ng-repeat="image in product.images">
                            <img ng-src="{{image.full}}">
                        </p>
                        
                        <store-panels></store-panels>


                        <button class="btn btn-success" ng-show="product.canPurchase">Add To Cart</button>
                        <button class="btn btn-danger" ng-show="!product.canPurchase">SOLD OUT!</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!--        jQUERY      -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!--        BOOTSTRAP   -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--        ANGULAR JS      -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>

    <!--        MY CODE      -->
    <script src="app.js"></script>
</body>

</html>